.containerCard {
    border: solid 5px;
    border-color: rgba(19, 64, 85, 0.89);
    border-radius: 15px;
    background-color: rgb(215, 219, 160);
    box-shadow: 7px 8px 6px 3px rgba(217, 219, 98, 0.719);
    margin-top: 85px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 40%;
}

.textoDesing {
    display: flex;
    justify-content: space-around;
    color: rgb(76 142 175);
}

.cardFLex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 20px;
}
.textTitle {
    font-size: 30px;
    color: #fff;
    margin-top: 5px;
    padding: 2px 0px 7px;
    background-color: #1fa598;
    border-radius: 5px;
    text-transform: capitalize;
}
.text {
    font-size: 25px;
    color: #fff;
    margin-top: 5px;
    padding: 4px 0px 7px;
    background-color: #1fa598;
    border-radius: 5px;
}
.cajaImg {
    background-color: #7aa85d;
    width: 27rem;
    height: 20rem;
    padding: 40px 0px;
    border-radius: 25rem;
    display: inline-block;
}
.designImg {
    width: 18rem;
    /* margin-left: 25px; */
}