.header {
    background-color: #afd696f5;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    margin-top: 72px;
}
.inputText {
    border-radius: 10px 0px;
    padding: 6px 5px;
    border: solid 5px #dfdaccee;
    color: #494e4e;
    font-size: 14px;
    width: 125px;
    font-weight: 650;
}
.containerSelect {
    display: flex;
}
.textSpan {
    margin: 8px 10px 0px;
    color: #727272;
    font-weight: bold;
    font-size: 17px;
}
.textSelect {
    color: #494e4e;
    font-size: 14px;
    width: 125px;
    font-weight: 650;
}
.cajaSelects {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}